<%= erb :header%>
   <h2> Latest Updates </h2>
    
 

<div class="main-container ">

  <%if @all_journals.count == 0  %>
  <div class="article-subgrid">
    <h1>There are no journals at this time</h1>
    <a class="primary-btn" href="/users/skaters/<%=session[:user_id]%>">Create Your First Post</a>
  </div>

  <% else %>

    <div class="container center">
    <%@all_journals.reverse.each do |jour|%>
    <div class="article-grid">
     
    
      <div class="article">
      <h3><%= jour.title%></h3>
      <% user = User.find(jour.user_id)%>
      <h4>Created By: <%=user.username%></h4>
      <p><%=jour.text%></p>
    </div>
    </div>
    <%end%>
  </div>

  <% end %>
</div>
